@model PetGrooming.Models.ViewModels.UpdatePet


@{
    ViewBag.Title = "Update";
}
    <div class="content">
        <h2>Update Pet</h2>
        <a href="/Pet/List" class="button">Back to List</a>
        <div class="petform">
            <form action="/Pet/Update/@Model.pet.PetID" method="POST">
                <div><span class="name">Name : </span><input type="text" value="@Model.pet.PetName" id="PetName" name="PetName" /></div>
                <div><span class="name">Color : </span><input type="text" value="@Model.pet.Color" id="PetColor" name="PetColor" /></div>
                <div><span class="name">Weight : </span><input type="text" value="@Model.pet.Weight" id="PetWeight" name="PetWeight" /></div>
                <div>
                    <span class="name">Species : </span>
                    <select id="SpeciesID" name="SpeciesID">
                        @{
                            foreach (var species in Model.species)
                            {
                                var selected = "";
                                if (species.SpeciesID == Model.pet.SpeciesID)
                                {
                                    selected = "selected";
                                }
                                <option value="@species.SpeciesID" @selected>@species.Name</option>
                            }
                        }
                    </select>
                </div>
                <div>
                    <span class="name">Notes : </span>
                    <textarea id="PetNotes" name="PetNotes">@Model.pet.Notes</textarea>
                </div>
                <div class="updel">
                    <input type="submit" value="Update Pet" class="button" />
                </div>
            </form>
        </div>
    </div>